<!--//<h1>{{title}}</h1>-->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome to the Colenso Database!</h1>
        </div>
    </div>
</div>
<div class="container">

    <div class="well well-lg">
        <ul id="paths">

            {{#if direct}}
                {{#each pathArray}}
                <ul><a href="browse/?pathResult={{{this}}}">{{{this}}}</a></ul>
                {{/each}}
            {{else}}
                {{#each pathArray}}
                <ul><a href="/?pathResult={{{this}}}">{{{this}}}</a></ul>
                {{/each}}
            {{/if}}
            <!--<ul><a href="browse/?pathResult=this">this</a></ul>-->

        </ul>
    </div>

</div>





